<%= form_for :holding , url: fund_holdings_path , method: :post  do |form| %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :holding_name %>
  </div>

  <div class="field">
    <%= form.label :isin %>
    <%= form.text_field :isin, id: :holding_isin %>
  </div>

  <div class="field">
    <%= form.label :qty %>
    <%= form.text_field :qty, id: :holding_qty %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :holding_value %>
  </div>

  <div class="field">
    <%= form.label :perc %>
    <%= form.text_field :perc, id: :holding_perc %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating, id: :holding_rating %>
  </div>

  <div class="field">
    <%= form.label :remarks %>
    <%= form.text_field :remarks, id: :holding_remarks %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
