<p id="notice"><%= notice %></p>

<h2><%= @fund.code%> Holdings</h2>

<table  class="table table-bordered table-striped">
  <thead>
    <tr>
      
      <th>Name</th>
      <th>Isin</th>
      <th>Qty</th>
      <th>Value</th>
      <th>Perc</th>
      <th>Rating</th>
      <th>Remarks</th>
    </tr>
  </thead>

  <tbody>
    <% @holdings.each do |holding| %>
      <tr>
        <td><%= holding.name %></td>
        <td><%= holding.isin %></td>
        <td><%= holding.qty %></td>
        <td><%= holding.value %></td>
        <td><%= holding.perc %></td>
        <td><%= holding.rating %></td>
        <td><%= holding.remarks %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


