<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @holding.name %>
</p>

<p>
  <strong>Isin:</strong>
  <%= @holding.isin %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @holding.qty %>
</p>

<p>
  <strong>Value:</strong>
  <%= @holding.value %>
</p>

<p>
  <strong>Perc:</strong>
  <%= @holding.perc %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @holding.rating %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @holding.remarks %>
</p>

<%= link_to 'Edit', edit_holding_path(@holding) %> |
<%= link_to 'Back', holdings_path %>
