<%= form_with(model: fund, local: true ,class:"well") do |form| %>
  <% if fund.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fund.errors.count, "error") %> prohibited this fund from being saved:</h2>

      <ul>
      <% fund.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :code , class:"col-md-3"%>
    <%= form.text_field :code, id: :fund_code, class:"col-md-3" %>
  </div>

  <div >
    <%= form.label :name , class:"col-md-3"%>
    <%= form.text_field :name, id: :fund_name, class:"col-md-3" %>
  </div>
<br><br><br>
  <div >
    <%= form.label :date , class:"col-md-3"%>
    <%= form.text_field :date, id: :fund_date, class:"col-md-3" %>
  </div>
<br>
  <div >
    <%= form.label :t_value , class:"col-md-3"%>
    <%= form.text_field :t_value, id: :fund_t_value, class:"col-md-3" %>
  </div>

  <div >
    <%= form.label :t_perc, class:"col-md-3" %>
    <%= form.text_field :t_perc, id: :fund_t_perc, class:"col-md-3" %>
  </div>
<br><br><br><br><br>
  <div >
    <%= form.submit %>
  </div>
<% end %>
