<p id="notice"><%= notice %></p>

<h1>Funds</h1>
<%= link_to 'New Fund', new_fund_path ,class:"label label-info" %>
<table class="table table-bordered table-striped"> 
  <thead>
    <tr class="heading">
      <th>Code</th>
      <th>Name</th>
      <th>Date</th>
      <th>T value</th>
      <th>T perc</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @funds.each do |fund| %>
      <tr>
        <td><%= fund.code %></td>
        <td><%= fund.name %></td>
        <td><%= fund.date %></td>
        <td><%= fund.t_value %></td>
        <td><%= fund.t_perc %></td>
        <td><%= link_to 'Show', fund , class:"btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_fund_path(fund),class:"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', fund, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
        <td><%= link_to 'Add Holdings', new_fund_holding_path(fund.id),  class:"btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


