<p id="notice"><%= notice %></p>
<table class="table table-bordered table-striped"> 
  <tbody>
    <tr>
      <td><p><strong>Code:</strong></td>
      <td><%= @fund.code %></p></td>
    </tr>

      <tr>
      <td><p><strong>Name:</strong></td>
      <td><%= @fund.name %></p></td>
    </tr>
    
    <tr>
      <td><p><strong>Date:</strong></td>
      <td><%= @fund.date %></p></td>
    </tr>
    
    <tr>
      <td><p><strong>Total Value:</strong></td>
      <td><%= @fund.t_value %></p></td>
    </tr>
    
    <tr>
      <td><p><strong>Percentage:</strong></td>
      <td><%= @fund.t_perc %></p></td>
    </tr>
  </tbody>
</table>

<%= link_to 'View Holdings of this fund' ,fund_holdings_path(@fund),class:"btn btn-primary" %> |
<%= link_to 'Edit', edit_fund_path(@fund),class:"btn btn-warning" %> |
<%= link_to 'Back', funds_path ,class:"btn btn-info" %>
